# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
*.bak

# External Downloads
downloads/

# Configuration & Secrets
.env

# IDEs & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
